.getInvolved {
    background-color: #f4f4f4;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.container {
    width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}