.questions {
  background-color: #f4f4f4;
  min-height: 100vh;
}

.questions-flex {
  display: flex;
  justify-content: space-between;
  gap: 5%;
  margin-bottom: 4rem;
}

.questions-header h1 {
  font-size: 1.45rem;
  margin-bottom: 1rem;
  color: #012d12;
}

.questions-header p {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.questions-header button {
  background-color: #273617;
  color: #fff;
  width: 100%;
  border: 1px solid #d1d3d7;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.questions-header button:hover {
  background-color: #012d12;
}

.all-questions div {
    margin-bottom: 0.5rem;
}

.all-questions div h1 {
    margin-bottom: 0.8rem;
    color: #012d12;
}

.all-questions div p {
    margin-bottom: 0.5rem;
}

.all-questions div hr {
    border: 1px solid #8ba72c;
}

.prevention-container {
    display: flex;
    justify-content: space-between;
    gap: 3%;
}

.prevention-tips {
    width: 50%;
}

.prevention-tips div {
    display: flex;
    gap: 2%;
    margin-bottom: 2rem;
    width: 100%;
}

.prevention-tips h1 {
    margin-bottom: 1rem;
    color: #012d12;
}

.prevention-tips div h4 {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 100%;
    background-color: #8ba72c;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem; 
}

.prevention-tips div p {
    color: #717182;
    font-size: 0.9rem;
}

.research {
    background: linear-gradient(135deg, #012d12, #273617);
    padding: 1rem 2rem 2rem 2rem;
    width: 50%;
}

.research h1 {
    color: #bc6c25;
    margin-bottom: 0.9rem;
}

.research p {
    color: #fff;
    margin-bottom: 0.9rem;
}

.research div {
    background-color: #8ba72c;
    margin-bottom: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.3rem;
}

.research div h6 {
    font-size: 0.9rem;
    color: #012d12;
}

.research-link {
    color: #273617;
    padding: 7px;
    transition: 0.4s ease-in-out;
}

.research-link:hover {
    background-color: #012d12;
    color: #8ba72c;
    border-radius: 10px;
}

/* Mobile devices (up to 767px) */
@media (max-width: 767px) {
  .questions-flex {
    flex-direction: column;
  }

  .questions-header {
    margin-bottom: 2rem;
  }

  .prevention-container {
    flex-direction: column;
  }

  .prevention-tips {
    width: 100%;
}

.research {
    width: 100%;
}
}